.aboutMeText {
  font-size: $footer-nav-font-size;
  font-family: $main-font;
  display: flex;
  flex-wrap: wrap;
  max-width: 180px;
  margin-left: auto;
  text-align: right;
  margin-right: 20px;
  margin-top: 20px;
  color: white;
  text-shadow: 2px 2px 8px #dddddd;
}

#aboutMe p:last-child {
  display: none;
}

#aboutMe {
  background-image: url("../images/aboutme-bg.svg");
  background-color: black;
  background-position: left;
  background-repeat: no-repeat;
  height: 390px;
  display: flex;
  flex-direction: row;
}
