.aboutMeText {
  max-width: 250px;
  margin-top: 70px;
  margin-right: 30px;
  flex-wrap: nowrap;
  margin-left: 0px;
  text-align: left;
}

#aboutMe p:last-child {
  display: initial;
}

#aboutMe {
  justify-content: flex-end;
}
