.aboutMeText {
  font-size: 1.5em;
  font-family: $main-font;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 180px;
  margin-left: auto;
  text-align: right;
  margin-right: 20px;
  // margin-top: 20px;
  color: white;
}

#aboutMe p:last-child {
  display: none;
}

#aboutMe {
  background-image: url("../images/aboutme-bg.svg");
  background-color: black;
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  background-size: 110vh;
  height: 50vh;
}