body {
  color: $main-color;
}

.container {
  margin: 0 auto;
  // max-width: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hidden {
  display: none;
}

#hidden {
  display: none;
}