@font-face {
  font-family: "barlowbold";
  src: url("../assets/Barlow-Bold-webfont.eot");
  src: url("../assets/Barlow-Bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/Barlow-Bold-webfont.woff") format("woff"),
    url("../assets/Barlow-Bold-webfont.ttf") format("truetype"),
    url("../assets/Barlow-Bold-webfont.svg#barlowbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "barlowsemibold";
  src: url("../assets/Barlow-SemiBold-webfont.eot");
  src: url("../assets/Barlow-SemiBold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/Barlow-SemiBold-webfont.woff") format("woff"),
    url("../assets/Barlow-SemiBold-webfont.ttf") format("truetype"),
    url("../assets/Barlow-SemiBold-webfont.svg#barlowsemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "barlowregular";
  src: url("../assets/Barlow-Regular-webfont.eot");
  src: url("../assets/Barlow-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/Barlow-Regular-webfont.woff") format("woff"),
    url("../assets/Barlow-Regular-webfont.ttf") format("truetype"),
    url("../assets/Barlow-Regular-webfont.svg#barlowregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "barlowlight";
  src: url("../assets/Barlow-Light-webfont.eot");
  src: url("../assets/Barlow-Light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/Barlow-Light-webfont.woff") format("woff"),
    url("../assets/Barlow-Light-webfont.ttf") format("truetype"),
    url("../assets/Barlow-Light-webfont.svg#barlowlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
