footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-left: 20px;
  margin-right: 20px;
  height: 150px;
  margin-bottom: 20px;
}

#copyrightText {
  font-family: $copyright-font;
  font-size: $copyright-font-size;
  // transform: rotate(90deg);
  // vertical-align: middle;
}

ul li {
  font-size: $footer-nav-font-size;
  font-family: $main-font;
}

#footerNav {
  display: none;
}

#socialMedia {
  padding-top: 40px;
  text-align: right;
}
