#gallery {
  // max-width: 335px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 40px;
  min-width: 375px;

  img {
    width: 168px;
    height: 168px;
  }
}
