header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  background-size: 100vw;
}

.brandLogo {
  order: -1;
  margin-left: 0;
  margin-right: auto;
  padding-bottom: 10px;
}

#navButton {
  display: none;
}

.navMenu {
  display: initial;

  ul {
    display: flex;
    flex-direction: row;

    li {
      margin-left: 20px;
    }
  }
}