#headerNav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#navButton {
  margin-top: 20px;
  background: url(../images/burgerMenu.svg);
  width: 15.25px;
  height: 13px;
  margin-left: auto;
}

#brandLogo {
  width: 153px;
  height: 70px;
  background-color: grey;
}
