#hero {
  //   background: url(../images/heroBG.jpg);
  background-color: grey;
  height: 390px;
  // margin-top: 40px;
}

#heroText {
  font-family: "barlowsemibold";
  font-size: 70px;
  text-align: center;
  line-height: 390px;
  color: white;
}
