.lightbox {
  padding: 10px 10px;
  max-width: 1000px;
  // min-height: 390px;
  max-height: 800px;
  background-image: url("../images/lightbox-bg-desk.svg");
  //   margin-left: 180px;
  //   margin-right: 180px;

  h2 {
    font-size: 55px;
    margin-top: 20px;
    margin-left: 20px;
  }

  p {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }

  img {

    width: 20px;
    // height: 15.09px;
    margin-right: 0px;
    margin-top: 0px;
  }

  .video-player {
    // margin-left: 10px;
    // margin-right: 10px;
    padding: 0px 10px;

    video {}
  }
}

#lightboxDesc {

  max-width: 400px;
}

.lightboxWrapper {
  flex-direction: row;
  padding: 0px 10px;
}