$main-color: black;
$main-font: "Barlow", serif;

$header-nav-font-size: 28px;

$footer-nav-font-size: 25px;

$copyright-font-size: 20px;
$copyright-font: "Barlow Light", serif;

$form-font-size: 21px;
