$main-color: black;
$main-font: "barlowregular", sans-serif;

$header-nav-font-size: 28px;

$footer-nav-font-size: 25px;

$copyright-font-size: 15px;
$copyright-font: "barlowlight", sans-serif;

$form-font-size: 21px;
